.tabs {
  display: flex;
  justify-content: center;
  z-index: 1;
  top: 0;
  text-wrap: nowrap;
  width: 100%;
  max-height: auto;
}

.tabs button {
  background-color: #888e75;
  border: none;
  cursor: pointer;
  font-family: "Kanit";
  font-size: 1rem;
  padding: 10px 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  min-width: 150px;
}
.tabs button:not(.active-button) {
  color: #000000;
}
.tabs-nav-first {
  border-radius: 50px 0 0 50px;
}
.tabs-nav-end {
  border-radius: 0 50px 50px 0;
}
.active-button {
  background-color: #013274 !important;
  color: rgb(255, 255, 255) !important;
}
.active-btn {
  background-color: #ffc000 !important;
  color: rgb(0, 0, 0) !important;
}

/* Form */
.form {
  display: -ms-flexbox;
  height: 100%;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  padding: 10px 400px 40px 400px;
}
.inst-form textarea:focus,
.cont-p-form textarea:focus,
.paym-p-form textarea:focus,
.cont-p-form input:focus,
.pers-form input:focus,
.inst-form input:focus,
.paym-p-form input:focus {
  outline: none;
  box-shadow: 0 0 5px #ffc000;
}

.org-form input:focus,
.org-form textarea:focus,
.cont-form input:focus,
.rep-form input:focus,
.alt-rep-form input:focus,
.type-form input:focus,
.paym-form input:focus {
  outline: none;
  box-shadow: 0 0 5px #013274;
}

.org-form,
.cont-form,
.rep-form,
.alt-rep-form,
.type-form,
.paym-form {
  background-color: #fff;
  padding: 20px 60px 20px 60px;
  border: 1px solid #00d0ff;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: #013274 5px 5px;
}
.cont-p-form,
.pers-form,
.inst-form,
.type-p-form,
.paym-p-form {
  background-color: #fff;
  padding: 20px 60px 20px 60px;
  border: 1px solid #ffc000;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: #ffc000 5px 5px;
}

.org-form div,
.cont-form div,
.rep-form div,
.alt-rep-form div,
.cont-p-form div,
.pers-form div,
.inst-form div,
.type-p-form div,
.paym-p-form div,
.paym-form div {
  margin: 0.75rem;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  flex: 1;
  /* Label takes up 1/3 of the available space */
  text-align: start;
  /* Align label to the start */
  overflow: hidden;
}

.org {
  background-color: #00d0ff4c;
}

.per {
  background-color: #ffbf004c;
}

.reg-body input[type="text"],
[type="email"] {
  flex: 2;
  min-width: 50px;
  max-width: 300px;
  min-height: 30px;
  border: #00d0ff 1.5px solid;
  border-radius: 9px;
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  text-indent: 18px;
  text-align: start;
}

.reg-body textarea {
  flex: 2;
  max-width: calc(300px - 18px);
  min-width: calc(50px - 18px);
  line-height: 1.2em;
  min-height: 3.6em;
  border: #00d0ff 1.5px solid;
  border-radius: 9px;
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  text-align: start;
  padding-left: 18px;
  overflow-y: hidden;
}

.inst-form textarea,
.cont-p-form textarea,
.paym-p-form textarea,
.pers-form input,
.inst-form input,
.type-p-form input,
.paym-p-form input,
.cont-p-form input {
  border: #ffc000 1.5px solid !important;
}

textarea.input-error,
.type-p-form div input.input-error,
.paym-p-form div input.input-error,
.pers-form div input.input-error,
.inst-form div input.input-error,
.cont-p-form div input.input-error,
.org-form div input.input-error,
.cont-form div input.input-error,
.rep-form div input.input-error,
.alt-rep-form div input.input-error,
.paym-form div input.input-error {
  border: 2px solid red !important;
  box-shadow: 0 0 5px red !important;
}

.type-p-form p,
.paym-p-form p,
.pers-form p,
.inst-form p,
.cont-p-form p,
.org-form p,
.cont-form p,
.rep-form p,
.alt-rep-form p,
.type-form p,
.paym-form p {
  position: relative;
  padding: 5px 0 0 0;
  margin: 0px;
  top: -20px;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#box {
  display: flex;
}

#checkboxA,
#checkboxB {
  max-width: 1rem;
  min-width: 1rem;
  border-radius: 50px;
}

.pers-form:not(.active-form),
.inst-form:not(.active-form),
.cont-p-form:not(.active-form),
.type-p-form:not(.active-form),
.paym-p-form:not(.active-form),
.org-form:not(.active-form),
.cont-form:not(.active-form),
.rep-form:not(.active-form),
.alt-rep-form:not(.active-form),
.type-form:not(.active-form),
.pay-detail-o:not(.active-form),
.pay-detail-p:not(.active-form),
.paym-form:not(.active-form) {
  display: none;
}

.pay-detail-o {
  border-radius: 8px;
  box-shadow: #013274 5px 5px;
}

.pay-detail-o h1 {
  font-size: 1.4rem;
  text-align: center;
  border-radius: 8px 8px 0 0;
  background-color: #013274;
  color: white;
  padding: 5px;
  margin: 0;
}

.pay-detail-o p {
  font-size: 1rem;
  text-align: center;
  border-radius: 0 0 8px 8px;
  background-color: #9cc2e5;
  padding: 10px;
  margin: 0;
}

.pay-detail-p {
  border-radius: 8px;
  box-shadow: #ffc000 5px 5px;
}

.pay-detail-p h1 {
  font-size: 1.4rem;
  text-align: center;
  border-radius: 8px 8px 0 0;
  background-color: #ffc000;
  color: white;
  padding: 5px;
  margin: 0;
}

.pay-detail-p p {
  font-size: 1rem;
  text-align: center;
  border-radius: 0 0 8px 8px;
  background-color: #ffe599;
  padding: 10px;
  margin: 0;
}

span {
  transition: transform 0.3s ease-in-out;
  background-color: #f7f7f7;
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: inline-block;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  text-decoration: underline;
}
span:hover {
  transform: scale(1.2);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.copy-status {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Semi-transparent black for a modal-like effect */
  color: #fff;
  font-size: 1.5rem;
  z-index: 1000;
  animation: fadeOut 3s forwards; /* Fade out over 3 seconds */
}

/* Button styles */
.btn-container,
.btn-container-p {
  text-align: center;
}

.btn-container button,
.btn-container-p button {
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  margin: 10px;
  padding: 10px 20px;
  background-color: #00d0ff;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 6px;
}

.btn-container-p button {
  background-color: #ffe140;
}

/* Hover effect */
.btn-container button:hover,
.btn-container-p button:hover {
  transform: perspective(1000px) rotateY(10deg) scale(1.05);
  /* transition: transform 0.3s ease; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #013274;
  color: #fff;
}
.btn-container-p button:hover {
  background-color: #ffc000;
  color: #000000;
}

/* After-click */
.btn-container button:active {
  transform: perspective(1000px) scale(0.95);
  box-shadow: none;
}

/* Responsive styles for buttons */
@media (max-width: 768px) {
  .btn-container {
    flex-direction: column;
    /* Stack buttons vertically on smaller screens */
  }

  .btn-container button {
    width: 50%;
    /* Full width for buttons on smaller screens */
  }
}

Footer {
  position: relative;
  bottom: 0;
}

/* Responsive screen for mobile */
@media (max-width: 768px) {
  .tabs {
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .tabs {
    width: 100%;
    /* Make it full-width on smaller screens */
    max-width: 100%;
    /* Ensure it doesn't exceed the viewport width */
    height: auto;
    /* Allow content to determine height */
  }
}

/* Responsive for ipad and bigger screens */
@media (max-width: 1300px) {
  .tabs {
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 10px 100px 40px 100px;
  }
}

@media screen and (max-width: 1300px) {
  .tabs {
    width: 100%;
    /* Make it full-width on smaller screens */
    max-width: 100%;
    /* Ensure it doesn't exceed the viewport width */
    height: auto;
    /* Allow content to determine height */
  }
}

/* Styles for .registration-result */
.registration-result {
  text-align: center;
}
