/* Background styling for the entire page */
body {
  margin: 0;
  padding: 0;
  height: 100vh; /* 100% of the viewport height */
  font-family: "Noto Sans Thai", "Mitr", "Sarabun", "Pridi", sans-serif;
  /* overflow: hidden; Hide overflow for the background */
  background-color: #E1EEF9; /* Light blue */
  background-image: linear-gradient(to bottom, #E1EEF9, #EAEFF3, #F2F7FA);
  background-repeat: no-repeat; /* Prevent background from repeating */
  background-attachment: fixed; /* Keep the background fixed while scrolling */
  background-size: cover;
}

/* Random shapes in the background */
.random-shape {
  position: absolute;
  width: 20px; /* Adjust the size of the shapes as needed */
  height: 20px;
  background-color: #444; /* Random shape color */
  border-radius: 50%; /* Makes shapes round (can be changed to other shapes if desired) */
  /* opacity: 1; Adjust the opacity of the shapes */
}

/* Apply animation to the random shapes for movement */
.random-shape:nth-child(1) {
  left: 10%; /* Adjust position as needed */
  top: 10%;
  animation: moveRandom 5s linear infinite;
}

.random-shape:nth-child(2) {
  left: 20%; /* Adjust position as needed */
  top: 30%;
  animation: moveRandom 4s linear infinite;
}

/* Add more random shapes with different positions and animation durations as needed */

@keyframes moveRandom {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-500px) rotate(360deg);
  }
}

/* */
.form {
  display: flex;
  flex-wrap: wrap;
  font-family: "Noto Sans Thai", sans-serif;
  justify-content: center;
  align-items: top;
  margin: 20px; /* Add some margin for spacing */
}

.org-form, .co-form, .rep-form, .alt-rep-form, .type-form, .paym-form {
  display: block;
  padding: 15px; /* Increased padding for better spacing */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft box shadow */
  background: rgba(1, 50, 116, 0.5);
  /* background-color: #ffffff; White background */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add transition for hover effect on both transform and box-shadow */
  text-align: end;
  margin: 10px;
  position: relative; /* Required for the shadow on hover */
}

.org-form:hover, .co-form:hover, .rep-form:hover, .alt-rep-form:hover, .type-form:hover, .paym-form:hover {
  transform: scale(1.05); /* Increase size on hover */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Increase shadow intensity on hover */
}

input{
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  width: 100vh;
}

label{
  font-weight: 500;
  text-align: left;
  padding: 5px;
}

/* Style for the submit button */
button[type="submit"], [type="reset"] {
  background-color: #007BFF; /* Change the background color to blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.btn-container{
  display: flex;
  justify-content: center;
}