@font-face {
  font-family: 'Kanit';
  src: url('../../public/fonts/Kanit/Kanit-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Astra';
  src: url('../../public/fonts/Astra/astra.woff') format('woff');
}

.tabs {
  display: flex;
  justify-content: center;
  z-index: 1;
  top: 0;
  text-wrap: nowrap;
  width: 100%; 
  max-height: auto; /* Take the full height of the viewport */
  background-color: #fff; 
}
.tabs button {
  background-color: #888E75;
  border: none;
  cursor: pointer;
  color: whitesmoke;
  font-family: 'Kanit';
  font-size: 16px;
  /* margin: 10px; */
  padding: 10px 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transitions for 3D effect and box shadow */
  text-align: center;
  min-width: 150px;
}
.active-button{
  background-color: #013274!important;
  color: rgb(0, 255, 0)!important;
}

/* Form */
.form {
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  padding: 40px 100px 20px 100px;
  background-color: #ffffff;
}
.form div{
  width: 100%;
}
/* Styles for .FormField label */
.FormField label {
  font-size: 16px;
  font-weight: bold;
}
/* Styles for .FormField input */
.FormField input {
  padding: 10px;
}
.org-form 
input:focus, .cont-form input:focus, .rep-form input:focus, .alt-rep-form input:focus, .type-form input:focus, .paym-form input:focus{
  outline: none;
  box-shadow: 0 0 5px #013274;
}
.org-form, .cont-form, .rep-form, .alt-rep-form, .type-form, .paym-form{
  position: relative;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px; 
  margin-bottom: 20px;
  width: fit-content; 
  box-sizing: border-box; 
  text-align: start;
}
.org-form div, .cont-form div, .rep-form div, .alt-rep-form div, .paym-form div{
  margin: 5px;
}
.org-form > div, .cont-form > div, .rep-form > div, .alt-rep-form > div, .paym-form > div{
  display: flex;
  flex-direction: row;
}
/* .org-form > div > div:nth-child(odd) {
  flex-basis: 50%;
}
.org-form > div > div:nth-child(even) {
  flex-basis: 50%;
}
.org-form > div > div:nth-child(3) {
  flex-basis: 100%;
} */
.org-form div input, .cont-form div input, .rep-form div input, .alt-rep-form div input, .paym-form div input{
  border: #00d0ff 1px solid;
  border-radius: 50px;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  margin-left: 5px;
  min-height: 30px;
  padding: 0 20px 0 0;
  resize: horizontal!important;
  text-indent: 10px;
  min-width: 300px;
}
#spec-input input{
  width: 80%;
}
.org-form div input.input-error, .cont-form div input.input-error, .rep-form div input.input-error, .alt-rep-form div input.input-error, .paym-form div input.input-error{
  border: 2px solid red!important;
}
.org-form p, .cont-form p, .rep-form p, .alt-rep-form p, .type-form p, .paym-form p{
  position: relative;
  padding: 5px 0 0 0;
  margin: 0px;
  top: -20px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#box{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Active form styles */
.active-form {
  display: flexbox;
}
.org-form:not(.active-form),
.cont-form:not(.active-form),.rep-form:not(.active-form), .alt-rep-form:not(.active-form), .type-form:not(.active-form), 
.paym-form:not(.active-form)
{ 
  display: none;
}

/* Button styles */
.btn-container {
  text-align: center;
}
.btn-container button{
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  /* margin: 10px; */
  padding: 10px 20px;
  background-color: #00d0ff;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transitions for 3D effect and box shadow */
  border-radius: 6px; 
}
  /* Hover effect */
.btn-container button:hover {
  transform: perspective(1000px) rotateY(10deg) scale(1.05);
  /* transition: transform 0.3s ease; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #6EC1E4;
}
/* After-click */
.btn-container button:active{
  transform: perspective(1000px) scale(0.95);
  box-shadow: none;
}

/* Responsive styles for buttons */
@media (max-width: 768px) {
.btn-container {
  flex-direction: column; /* Stack buttons vertically on smaller screens */
  }
.btn-container button {
  width: 50%; /* Full width for buttons on smaller screens */
  }
}
@media (max-width: 768px){
  .tabs{
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .tabs {
    width: 100%; /* Make it full-width on smaller screens */
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    height: auto; /* Allow content to determine height */
  }
}

/* Styles for .registration-result */
.registration-result {
  text-align: center;
}

